[MASTER]
good-names=i,j,k,v,cp
no-docstring-rgx=^(_|[a-z]+$|test_|[\w_]+_config$|mock_tool)
disable=too-few-public-methods
ignored-argument-names=tools_proxy

[REPORTS]
output-format=colorized
score=no
