[MASTER]
good-names=i,j,k,cp
no-docstring-rgx=^(_|[a-z]+$|test_|[\w_]+_config$)
disable=too-few-public-methods
ignored-argument-names=([\w_]+_config$|oenv)

[REPORTS]
output-format=colorized
score=no
